.md-header--shadow{
  background-color:#005EB8 !important;
}
.md-header{
  background-color:#005EB8 !important;
}
html, body {
  font-family: "Frutiger", Arial, Sans-serif !important;
}
.md-nav{
  font-size: 16px !important;
}
h2{
      font-weight: 600 !important;
      font-size: 36px !important;
}

.md-nav--integrated>.md-nav__list>.md-nav__item--active .md-nav--secondary
{
  border-left: 0px !important;
}

h3{
      font-weight: 600 !important;
      font-size: 26px !important;
}



.md-nav__item a:hover{
  color: #005EB8 !important;
  text-decoration: underline;
}
.md-nav__link--active{
  text-decoration: underline !important;
}


/*
.md-nav__list a
{
  color: #005EB8 !important;
} */
