/* next 3 are for colour pills */
.inline-container {
    display: flex;
    gap: 0.3125rem;
    align-items: center;
  }

  .inline-container-pill {
    display: flex;
    gap: 0.3125rem;
    align-items: center;
    border: solid;
    border-color: var(--colour);
    border-radius: 30px;
    padding-left: 9px;
    padding-right: 9px;
  }

  .inline-colour-square {
    display: flex;
    color: white;
    background: var(--colour);
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
  }

  /* square text vesion*/
  .colour-rect {
    display: flex;
    color: var(--txt_clr);
    background-color: var(--colour);
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;
  }
  .md-header--shadow{
    background-color:#005EB8 !important;
  }
  .md-header{
    background-color:#005EB8 !important;
  }

  .app-colour-list_page_background {
      background-color: #F0F4F5;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 50%;
      display: inline-block;
      height: 40px;
      margin-right: 8px;
      vertical-align: middle;
      width: 40px;
  }

  html, body {
      font-family: "Frutiger", Arial, Sans-serif !important;
  }

  .md-nav{
    font-size: 16px !important;
  }

  h2{
        font-weight: 600 !important;
        font-size: 36px !important;
  }

  h3{
        font-weight: 600 !important;
        font-size: 26px !important;
  }

   .md-nav__item a:hover{
    color: #005EB8 !important;
    text-decoration: underline;
  }
  .md-nav__link--active{
    text-decoration: underline !important;
    font-weight: 600 !important;
  }

  .app-colour-list__swatch--border {
      border: 1px solid #d8dde0;
  }

  .md-typeset{
    font-size: 19px !important;
  }
  .md-nav{
    color: #005EB8 !important;
  }
.md-nav__link--passed{
  color: #005EB8 !important;
}
/*
  .md-nav__list a
  {
    color: #005EB8 !important;
  } */
