/* next 3 are for colour pills */
.inline-container {
    display: flex;
    gap: 0.3125rem;
    align-items: center;
  }

  .inline-container-pill {
    display: flex;
    gap: 0.3125rem;
    align-items: center;
    border: solid;
    border-color: var(--colour);
    border-radius: 30px;
    padding-left: 9px;
    padding-right: 9px;
  }

  .inline-colour-square {
    display: flex;
    color: white;
    background: var(--colour);
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
  }

  /* square text vesion*/
  .colour-rect {
    display: flex;
    color: var(--txt_clr);
    background-color: var(--colour);
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;
  }

.md-header--shadow{
  background-color:#EE0F0F !important;
}
